.Container {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 20px;
}

.link:hover {
  filter: brightness(0.1);
}

.linkNightMode {
  filter: brightness(3); /* Ajusta o brilho da imagem */
}

.linkNightMode:focus,
.linkNightMode:hover {
  filter: brightness(100); /* Ajusta o brilho da imagem */
  transition: filter 0.3s ease-in-out;
}
