.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title{
    font-size: 128px;
    font-weight: 700;
    color: #1053b7;
}

.dropboxTitle{
    font-size: 40px;
    font-weight: 500;
    color: #1053b7;
}

.inputContainer{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 590px;
}

.inputTitle{
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    color: #1053b7;
}

.input{
    border: none;
    border-bottom: 2px solid #1053b7;
    width: 100%;
}

.button{
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #1053B7;
    border-radius: 20px;
    background-color: transparent;
    font-size: 30px;
    font-weight: 500;
    color: #1053B7;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background-color: #1053B7;
    color: white;
    transition: 0.3s ease-in-out;
}