.outNightModeContainer{
  min-height: 100vh;
  background-color: var(--blue-dark);
  position: absolute;
  top: 0;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.containerNightMode {
  background-color: var(--blue-dark);
}

.title {
  font-size: 100px;
  font-weight: 700;
  color: var(--blue-dark); /* Azul escuro */
}

.titleNightMode{
  color: var(--blue-light);
}

.dropboxTitle {
  margin-top: 0;
  font-size: 40px;
  font-weight: 500;
  color: var(--blue-dark); /* Azul escuro */
}

.dropboxTitleNightMode {
  color: var(--blue-light);
}

.inputContainer {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 590px;
}

.inputTitle {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  color: var(--blue-dark); /* Azul escuro */
}

.inputTitleNightMode{
  color: var(--blue-light);
}

.input {
  display: flex;
  border: none;
  padding: 0;
  border-bottom: 2px solid var(--blue);
  width: 100%;
  font-size: 20px;
  padding-top: 20px;
  color: var(--blue-dark);
}

.inputNightMode{
  border-bottom: 2px solid var(--blue-light);
  background-color: var(--blue-dark);
  color: var(--blue-light);
}

.button {
  padding: 20px;
  margin-top: 30px;
  border: 2px solid var(--blue); /* Azul */
  border-radius: 20px;
  background-color: var(--blue-dark); /* Azul escuro */
  font-size: 30px;
  font-weight: 500;
  color: var(--blue-light); /* Azul claro */
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--blue-medium-light); /* Azul claro */
  color: var(--black); /* Preto */
  transition: 0.3s ease-in-out;
}

.buttonNightMode{
  background-color: var(--blue-light);
  color: var(--blue-dark);
}

.buttonNightMode:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.buttonDesactive {
  padding: 20px;
  margin-top: 30px;
  border: 2px solid var(--blue); /* Azul */
  background-color: var(--grey) !important; /* Cinza */
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  color: var(--white);
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.saved {
  font-size: 20px;
  font-weight: 500;
  color: var(--green);
}

.savedNightMode {
  color: var(--green-dark);
}
