.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 128px;
    font-weight: 700;
    color: #1053b7;
}

.subTitle{
    font-size: 40px;
    font-weight: 500;
    color: #1053b7;
    margin-bottom: 90px;
}

.labsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

}

.labInnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    margin: 0;
    margin-bottom: 16px;
    font-size: 30px;
    color: #1053B7
}

.image{
    width: 200px;
    height: 130px;
    border-radius: 20px;
}