.outNightModeContainer{
  min-height: 100vh;
  background-color: var(--blue-dark);
  position: absolute;
  top: 0;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 100px;
  font-weight: 700;
  color: var(--blue-dark);
}

.titleNightMode {
  color: var(--blue-light);
}

.subTitle {
  font-size: 40px;
  font-weight: 500;
  color: var(--blue-dark);
  margin-bottom: 40px;
}

.subTitleNightMode {
  color: var(--blue-light);
}

.input {
  width: 400px;
  height: 40px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid var(--blue-dark);
  border-radius: 20px;
}

.input::placeholder {
  color: var(--blue-dark);
}

.inputNightMode {
  border: 2px solid var(--blue);
  background-color: var(--blue-light);
  color: var(--blue-dark);
}

.labsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.labInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 25px;
}

.name {
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  color: var(--blue-dark);
}

.nameNightMode {
  color: var(--blue-light);
}

.image {
  width: 200px;
  height: 130px;
  border-radius: 20px;
}
